---
import Layout from "../layouts/Layout.astro";
import LandingActions from "../components/Landing/LandingActions.astro";
import LandingHookText from "../components/Landing/LandingHookText.astro";
import Reviews from "../components/Review/Reviews.astro";
import Location from "../components/Location.astro";
import SocialsBar from "../components/SocialsBar.astro";
---

<Layout title="Terry Johnson's Towing">
 <main class="max-w-[100svw] overflow-x-hidden justify-evenly flex flex-col text-center bg-truck bg-center bg-no-repeat sm:bg-fixed bg-cover">
  <div class="grid sm:grid-flow-col justify-evenly items-center min-h-[80vh] sm:grid-cols-3 sm:px-24 px-0">
   <div class="flex flex-col sm:justify-start justify-center gap-10 z-20 sm:col-span-2 p-5 py-10 sm:p-0">
    <LandingHookText />
    <LandingActions />
   </div>
  </div>
 </main>
 <Reviews />
 <!-- <Team /> -->
 <Location />
 <SocialsBar />
</Layout>
