<div class="grid text-end gap-2 place-content-center sm:place-content-end">
 <a class="sm:font-semibold font-extrabold underline sm:text-2xl text-xl hover:scale-110 duration-500 transition" href="tel:5403122505"
  >(540) 312-2505</a
 >
</div>
