---

---

<div class="bg-green-700 grid place-content-center py-1 font-semibold text-sm grid-flow-col gap-1">
 <div class="scale-75 grid place-content-center">
  <svg
   xmlns="http://www.w3.org/2000/svg"
   width="24"
   height="24"
   viewBox="0 0 24 24"
   fill="none"
   stroke="currentColor"
   stroke-width="2"
   stroke-linecap="round"
   stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg
  >
 </div>
 <span class="grid place-content-center text-lg">We're Avaliable 24/7</span>
</div>
