<footer class="pt-10 pb-3 bg-zinc-900 text-zinc-50" role="contentinfo">
 <div><span class="text-2xl font-semibold grid justify-center">Terry Johnson's Towing</span></div>
 <br />

 <div class="grid grid-flow-col sm:gap-32 justify-left sm:justify-center sm:text-md text-sm p-5 sm:p-0 gap-8">
  <div class="flex flex-col">
   <ul class="grid gap-3">
    <li class="font-bold">Contact Us:</li>
    <li><a class="hover:underline cursor-pointer" href="tel:(540) 312-2505">(540) 312-2505</a></li>
    <li class="font-bold">Opening Hours</li>
    <li>24 Hours / 7 Days a Week</li>
   </ul>
  </div>
  <div class="flex-col sm:flex flex sm:gap-10 gap-6">
   <div class="grid gap-2">
    <h2 class="font-bold">Address</h2>
    <ul class="grid">
     <li>
      <a href="https://maps.app.goo.gl/qM1Upa9wpUxjTwLv8" target="_blank" class="group-hover:underline">
       1025 Patterson Mill Rd, <br /> Bedford, VA 24523
      </a>
     </li>
    </ul>
   </div>
  </div>
 </div>
 <span class="justify-center flex mt-20 font-semibold text-xs text-zinc-400">© 2024 Terry Johnson's Towing</span>
 <span class="justify-center flex text-[0.60rem] text-zinc-400"
  >Built by&nbsp;<a href="https://bedfordsoftware.com" class="group transition duration-300 hover:text-blue-400" target="_blank"
   >Bedford Software LLC</a
  ></span
 >
</footer>
